<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <title>This only shows up in the browser tab</title>
    </head>

    <body>
        <!-- <p>I can't wait for the next superbowl</p>
        <h1>I am exited for the half time shows</h1> -->

        <div>
            {% block main %}
                <h1>Here is the main page. Want to know a bit about me go to the about page</h1>
            {% endblock main %}
        </div>

    </body>

</html>